API_PORT=8000

REDIS_HOST=redis
REDIS_PORT=6379

WEATHER_API_KEY=........

WEATHER_API_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
GEOLOCATION_API_URL=https://geocoding-api.open-meteo.com/v1/search